*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

section{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #232323;
  padding: 0 10px;
}


h3{
  font-size: 22px;
  font-weight: 600;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  width: 100%;
  font-size: 64px;
  font-weight: 700;
  color: #232323;
  margin: 150px 0 50px 0;
}



.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  font-size: 18px;
  color: #101010;
  position: relative;
  
}

#burger, [for=burger]{
  display: none;
}

.nav{
  display: flex;
  justify-content: space-between;
  gap: 54px;
}

.nav.active {
  display: block;
}

.nav a{
  color: #232323;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  transition: transform .2s linear;
}

.nav a::after{
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #232323;
  opacity: 0;
  bottom: -5px;
  transition: opacity .2s linear;
}

.nav a:hover{
  transform: scale(1.1);
}

.nav a:hover::after{
  opacity: 1;
}


.logo {
  font-family: 'Pacifico', cursive;
  color: #A52424;
  font-size: 48px;
}

.header__contact{
  color: #A52424;
}

.header__tel{
  display: none;
}

.greeting {
  display: flex;
  justify-content: space-between;
}

.greeting h1 {
  font-size: 72px;
  margin: 120px 0 20px 0;
}

.greeting h3{
  margin: 0 0 60px 0;
}

.button {
  border: 1px solid #A52424;
  border-radius: 2px;
  background-color: #fff;
  padding: 20px 30px;
  font-size: 18px;
  color: #A52424;
  cursor: pointer;
  min-width: 200px;
  text-decoration: none;
}

.button:hover{
  font-weight: 600;
  box-shadow: 0px 0px 20px 3px rgba(165,36,36,0.49);
}

.greeting__image img{
  width: 100%;
}

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 30%;
  position: relative;
}

.left__inner{
  width: 100%;
  margin: 40px 0 0 90px;
}

.left img{
  width: 70%;
}

.left h3{
  color: #A52424;
  margin: 40px 0 50px 0 ;
}

.left__background{
  width: 90%;
  height: 100%;
  box-shadow: 0 4px 7px 3px lightgrey;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}


.right {
  width: 57%;
  position: relative;
}

.right__inner{
  width: 100%;
  padding: 0 30px 30px 0;
}

.right img{
  width: 100%;
}

.right h3{
  color: #A52424;
  margin: 0 0 20px 0;
}

.right p{
  margin: 0 0 20px 0;
}

.right__background{
  width: 80%;
  height: 55%;
  box-shadow: 0 4px 7px 3px lightgrey;
  position: absolute;
  right: -10px;
  bottom: 0;
  z-index: -1;
}


.portfolio__content {
  display: flex;
  justify-content: space-between;
}

.card{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__image{
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__name {
  font-size: 22px;
  font-weight: 600;
  margin: 20px 0 10px 0;
}

.card__text {
  margin: 0 0 10px 0;
}


.price__content {
  display: flex;
  justify-content: space-around;
}

.price__item{
  width: 45%;
  padding: 40px;
  position: relative;
}

.price__image  {
  display: flex;
  justify-content: center;
}
.price__title {
  text-align: center;
  color: #A52424;
  font-size: 22px;
  font-weight: 600;
  margin: 30px 0;
}
.price__info {
  display: flex;
  flex-direction: column;
}
.price__service {
  display: flex;
  justify-content: space-between;
  line-height: 1.8;
}

.price__service p:nth-child(2){
  font-weight: 700;
}
.price__action {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 0 0 ;
}

.price__action div{
  margin: 0 20px 0 0 ;
}


.price__action div{
  font-size: 36px;
  color: #A52424;
  font-weight: 600;
}

.price__background{
  width: 100%;
  height: 80%;
  box-shadow: 0 4px 7px 3px lightgrey;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.order__content{
  display: flex;
  justify-content: space-between;
  margin: 0 0 100px 0;
}

.order__photo {
  width: 55%;

  position: relative;
}

.order__photo > img:first-child{
  position: absolute;
  top: 60px;
  left: 0;
  width: 45%;
}

.order__photo > img:last-child{
  position: absolute;
  right: 30px;
  top: 0;
  width: 55%;

}

.order__form{
  width: 40%;
  padding: 0 0 100px 0;
}

.order__form form {
  display: flex;
  flex-direction: column;
}

form > input, textarea {
  border: 1px solid #232323;
  border-radius: 3px;
  padding: 20px;
  font-size: 18px;
  color: #232323;
  margin: 0 0 20px 0;
  font-family: 'Montserrat', sans-serif;
}

footer{
  border-top: 1px solid #000;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0;
}

.footer__tel{
  font-size: 22px;
  color: #A52424;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.footer__contacts{
  display: flex;
  gap: 50px;
  padding-top: 10px;
}

.footer__tel_icon{
  display: none;
}


@media (max-width:980px){

  .header__content nav{
    gap: 30px;
  }

  .greeting h1 {
    font-size: 56px;
    margin: 90px 0 20px 0;
  }

  .greeting h3{
    font-size: 20px;
  }

  .button {
    font-size: 16px;

  }

}

@media (max-width:770px){

  section{
   
    font-size: 18px;
    line-height: 1.2;

  }

  .header__content{
    margin: 50px 0 0 0 ;
    position: relative;
  }

  .logo{
  order: -1;
  }

  [for=burger]{
    order: 2;
  }

  .header__contact{
    order: 0;
    display: none;
  }

  .header__tel{
    display: block;
    color: #A52424;
    font-size: 36px;
    font-weight: 800;
    position: absolute;
    left: 45%;
  }

  .greeting {
    display: block;
    text-align: center;
  }

  .greeting__image img{
    margin: 30px 0 0 0 ;
    width: 80%;
  }

  [for=burger]{
    display: block;
    font-size: 32px;
    font-weight: 800;
    color: #232323;
    text-align: center;
    right: 20px;
    top: 60px;
    cursor: pointer;
  }

  [for=burger]::before{
    content: '☰';
  }


  .nav {
    display: none;
  }

  #burger:checked + label + nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -20px;
    right: 55px;
    
  }

  #burger:checked + [for=burger]::before{
    content: '✖';
  }



  .title {
    font-size: 42px;
    margin: 90px 0 50px 0;
  }



  .left{
    display: none;
  }

  .right{
    width: 100%;
  }

  .portfolio__content{
    display: block;
  }

  .card{
    width: 100%;
    position: relative;
    margin: 0 0 30px 0;
  }

  .card:last-child{
    margin: 0;
  }

  .card__item{
    display: flex;
    justify-content: space-between;
  }

  .card__image{
    width: 40%;
  }

  .card__image img{
    width: 100%;
  }

  .card__info{
    width: 55%;
  }

  .card button{
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 10px 15px;
  }

  .price__content{
    flex-direction: column;
    gap: 30px;
  }

  .price__item{
    width: 80%;
    margin: 0 auto;
  }

.price__action{
  align-items: center;
}

  .order__content{
    background: url(../img/order/1.png) bottom left/30% no-repeat, url(../img/order/2.png) top right/30% no-repeat;
  }


  .order__photo{
    display: none;
  }

  .order__form{
    width: 60%;
    margin: 0 auto;

  }

  .footer__tel{
    display: none;
  }

  .footer__tel_icon{
    display: block;
    color: #A52424;
    font-size: 36px;
    font-weight: 800;
  }

}

@media (max-width:480px){

section{
  font-size: 16px;
}

.button{
  min-width: 150px;
}

.card__name {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.price__item{
  padding: 5px;
}

.footer__content{
  display: flex;
  font-size: 16px;
  position: relative;
}

.footer__contacts{
  gap: 15px;
}


}
